h1 {
    font-size: 30px;
    font-family:'Roboto', sans-serif;
    margin: 20px;
}

body {
    margin: 0;
}


header {
    color: white;
    background: #0A2E36;
    text-align: center;
    padding: 20px;
}

.containerrow1 {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}

.containerrow2 {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}
.containerrow1 article {
    border-top: 4px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 4px solid black;
}

.containerrow2 article {
    border-bottom: 4px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

img {
    flex: 1 1 auto;
}
.align {
    text-align: center;
}

section article p {
    font-size: 20px;
}

.picture {
    /* flex: auto;
    min-width: auto;
    min-height: 375px;
    max-width: 500px;
    max-height: 375px; */
    height: 180px;
    object-fit: cover;
    object-position: center center;
}



.intcontainerL {
    flex: 1;
    background: #27FB6B;
    padding: 30px;
    padding-right: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.intcontainerM {
    flex: 1;
    background: #14CC60;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.intcontainerR {
    flex: 1;
    background: #036D19;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.intcontainerBL {
    flex: 1;
    background: #14CC60;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.intcontainerBM {
    flex: 1;
    background: #036D19;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.intcontainerBR {
    flex: 1;
    background: #27FB6B;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
    .containerrow1 {
        flex-direction: column;
    }
    .containerrow2 {
        flex-direction: column;
    }
    .picture {
        max-width: 350px;
    }   
}

@media (min-width: 958px ) and (max-width: 1780px) {
    .picture {
        max-width: 250px;
        min-height: auto;
    }
}



@media (min-width: 768px) and (max-width: 958px) {
    .picture {
        max-width: 150px;
        min-height: auto;
    }
}



footer {
    background: #0A2E36;
    color: white;
    height: 100%;
    margin-bottom: -40px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 7px;
}
footer article ul {
    list-style: none;
    padding: 0;
}

footer article h3 {
    margin: 0;
}




