h1 {
    font-size: 30px;
    font-family:'Roboto', sans-serif;
    margin: 0;
}

body {
    margin: 0;
}

nav {
    color: white;
}

header {
    background: #0A2E36;
    text-align: center;
    padding: 20px;
}

.containerrow1 {
    width: 100%;
    display: flex;
    
    box-sizing: border-box;
    flex-direction: row;
}

.containerrow2 {
    width: 100%;
    display: flex;
    
    box-sizing: border-box;
    flex-direction: row;
}
.containerrow1 article {
    border-top: 4px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 4px solid black;
}

.containerrow2 article {
    border-bottom: 4px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}


.align {
    text-align: center;
}

.picture {
    flex: auto;
    min-width: auto;
    min-height: auto;
    max-width: 500px;
    max-height: auto;
}

.intcontainerL {
    flex: 1;
    background: #27FB6B;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.intcontainerM {
    flex: 1;
    background: #14CC60;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.intcontainerR {
    flex: 1;
    background: #036D19;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.intcontainerBL {
    flex: 1;
    background: #14CC60;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.intcontainerBM {
    flex: 1;
    background: #036D19;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.intcontainerBR {
    flex: 1;
    background: #27FB6B;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 768px) {
    .containerrow1 {
        flex-direction: column;
    }
    .containerrow2 {
        flex-direction: column;
    }
    .picture {
        max-width: 350px;
    }   
}

footer {
    background: #0A2E36;
    color: white;
    height: 100%;
    margin-bottom: -40px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 7px;
}
footer article ul {
    list-style: none;
    padding: 0;
}

footer article h3 {
    margin: 0;
}




